.index {
      background: white;
      padding: 1rem;

      section {
            height: 100%;
            display: grid;
            align-items: center;
            justify-items: center;
            background-image: url("../../public/images/login.jpg");
            background-color: grey;
            background-blend-mode: multiply;
            background-size: cover;
            background-position: center;
            padding: 1rem;
      }
}

